*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
  
}
body{
    background-image: url(abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-56228.avif);
}
img{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.profilepic{
    border: 0.2rem rgba(5, 17, 88, 0.973);
    border-radius: 50%;
    background-color: white;
    height: 30rem;
    width: 30rem;
    position: absolute;
    top: 7rem;
    left: 2rem;
    border-right: 2rem solid rgba(0, 0, 0, 0.264);
    border-bottom: 1rem solid rgba(0, 0, 0, 0.264);
}
.profilepic img{
    background-size: auto;
    border-radius: 50%;
}
.navbar{
    background-color: rgb(79, 79, 207);
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    width :100%;
    display: flex;
    height: 5rem;
    z-index: 5;
}
.navbar ul li{
    color: white;
    display: block;
    margin: 1rem;
}
.navbar ul {
    display: flex;
    justify-content: end;
}
.homePage{
    height: 31rem;
}
.homePage h1{
    font-size: 3rem;
}
.homePage span{
    font-size: 3rem;
    text-decoration: underline wavy rgba(255, 255, 255, 0.264);
}
.intro{
    position: relative;
    left: 40rem;
    top: 8rem;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 2rem;
    width: 40rem;
    border-radius: 1rem;
    border: 0.2rem black solid;
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(157, 157, 157);
}
.intro p{
    font-size: 1.2rem;
    margin-top: 3rem;
    font-weight: 400;
}
.aboutPage{
    /* background-color: red; */
    position: relative;
    top: 25rem;
}
#headings{
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
}
.card{
    width: 20rem;
    padding: 0rem 0 1rem 0;
    background-color: rgba(128, 128, 128, 0.771);
    border-radius: 0.3rem;
    border: 0.2rem solid rgba(128, 128, 128, 0.771);
    box-shadow: 0.1rem 0.1rem 1rem black;
}
.card img{
    background-size: contain;
    border-radius: 0.2rem;
}
.card .title{
    font-size: 1.5rem;
    margin: 0.5rem;
}
.card .description{
    padding-left: 0.5rem;
}
.education{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.int-hob{
    /* background-color: black; */
    width: 30rem;
    padding: 1rem;
}
.interest li{
    font-size: 2rem;
    text-decoration: underline dotted rgba(255, 255, 255, 0.36);
}
.interest p{
    margin: 0.2rem;
    margin-bottom: 0.5rem;
}
.interest{
    margin-bottom: 5rem;
}
.hobbies li{
    font-size: 2rem;
    text-decoration: underline dotted rgba(255, 255, 255, 0.36);
}
.hobbies p{
    margin: 0.2rem;
    margin-bottom: 0.5rem;
}
.empty{
    height: 35rem;
}
.projects{
    /* background-color: green; */
    height: 70rem;


}
.prj{
    display: flex;
    /* background-color: black; */
    justify-content: center;
    padding: 1rem;
    gap: 5rem;
    flex-wrap: wrap;
}
.prj2{
    display: flex;
    /* background-color: black; */
    justify-content: center;
    padding: 1rem;
    gap: 5rem;
    flex-wrap: wrap;
}
/*  */
.prjcards {
    width: 18.75rem;
    border: 0.08rem solid #ccc;
    border-radius: 0.625rem;
    box-shadow: 0 .125rem 0.125px rgba(0, 0, 0, 0.1);
}

.prjcards-image {
    width: 100%;
    height: 15rem;
    border-radius: 0.6rem 0.6rem  0 0;
}

.prjcards-content {
    padding: 0.9rem;
    background-color: #110a249d;
}

.prjcards-title {
    font-size: 1.5rem; 
    margin: 0; 
    margin-bottom: 1rem;
}

.prjcards-description {
    font-size: 1rem; 
    color: #ffffff;  
}

.prjcards-skills {
    margin: 0.65rem 0;
}

.prjcards-link {
    display: inline-block;
    margin-top: 0.625rem;
    text-decoration: none;
    color: #007BFF;
}

.prjcards-link:hover {
    text-decoration: underline;
}
.skills{
    /* background-color: red; */
    height: 30rem;
}
.contactPage{
    background-color: #0b0c1a;
    padding: 5rem;
}
#heading{
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
}
.form{
    /* background-color: rgb(57, 4, 4); */
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
form{
    /* background-color: rgba(255, 255, 0, 0.25); */
    width: 40rem;
    padding: 1rem;
}
label{
    color: rgba(255, 255, 255, 0.685) ;
    margin-bottom: 1rem;
}
.input{
    background-color: #11121f;
    border: none;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.219);
    padding: 0.5rem 0;
    font-size: 0.8rem;
    width: 19.5rem;
    
}
.name{
    display: flex;
    gap: 1rem;
}
.item{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin-bottom: 2rem;
}
#email{
    width: 100%;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.384) ;
}
textarea{
    background-color: #11121f;
    border: none;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.219);
    padding: 0.5rem 0;
    font-size: 0.8rem;
}
form button{
    width: 6rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.3rem;
    background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(193, 96%, 80%, 1) 0%, hsla(240, 100%, 85%, 1) 100%);
}
/* skills */
.container{
    padding-left: 20rem;
    margin-top: 5rem;
}
#html{
    padding-right: 1.7rem;
}
#css{
    padding-right: 2.6rem;
}
#react{
    padding-right: 0.8rem;
}
.bar{
    height: 1rem;
    background-color: grey;
    width: 40rem;
    border-radius: 3rem;
}
.skill{
    display: flex;
    margin: 2.5rem;
    align-items: center;
    gap: 1.5rem;
}
.progress{
    background-color: goldenrod;
    height: 100%;
    width:38rem;
    border-radius: 3rem;
    /* animation: fill 5s ease-in-out 1s infinite normal; */
    animation: bar 5s ease-in-out 1s infinite normal;
}
.progress1{
    background-color: goldenrod;
    height: 100%;
    width:38rem;
    border-radius: 3rem;
    /* animation: fill 5s ease-in-out 1s infinite normal; */
    animation: bar1 5s ease-in-out 1s infinite normal;
}
.progress2{
    background-color: goldenrod;
    height: 100%;
    width:38rem;
    border-radius: 3rem;
    /* animation: fill 5s ease-in-out 1s infinite normal; */
    animation: bar2 5s ease-in-out 1s infinite normal;
}
.progress3{
    background-color: goldenrod;
    height: 100%;
    width:10rem;
    border-radius: 3rem;
    /* animation: fill 5s ease-in-out 1s infinite normal; */
    animation: bar3 5s ease-in-out 1s infinite normal;
}
@keyframes bar {
    0%{width:1rem;}
    100%{width: 90%;}
}
@keyframes bar1 {
    0%{width:1rem;}
    100%{width: 80%;}
}
@keyframes bar2 {
    0%{width:1rem;}
    100%{width: 50%;}
}
@keyframes bar3 {
    0%{width:1rem;}
    100%{width: 20%;}
}
@keyframes fill{
    0%{background-color: inherit;}
    100%{background-color: goldenrod;}
}
@media(width<600px){
    .profilepic{
        height:10rem;
        width:10rem;
        margin-left: 3rem;
    }
    .intro{
        width: 100%;
        width: fit-content;
        position: absolute;
        left: 0rem;
        top: 20rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        font-size: 1rem;
    }
    .card{
        margin-bottom: 1rem;
    }
    .projects{ 
        height: fit-content;
    }
    .skills{
        margin-top: 5rem;
    }
    .container{
        padding-left: 0rem;
    }
    #react{
        padding-right: 2rem;
    }
    .form{
        width: 100%;
    }
    .form input{
        width: fit-content;
    }
  
}
/* @media(max-width:350px){
    form{
        width: auto;
    }
    .form input{
        width: auto;
    }
} */



#logo{
    width: 30rem;
}
.navbar{
    justify-content: space-between;
}
.opt{
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.opt button{
    width: fit-content;
    margin: 1.5rem;
    background-color: inherit;
    border: none;
    padding: 0.1rem;
    transition-duration: 1s;
}
#menu{
    display: none;
}
.opt button:hover{
    transform: scale(1.2);
    color: rgb(255, 220, 25);
}
  /* Navbar responsiveness */
  @media(width<600px){
    .opt button{
        display:none;
    }
    #menu{
        display: block;
    }
    .opt{
        justify-content: flex-end;
    }
  }
  .sidebar{
    background-color: #110a24;
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 15rem;
    box-shadow: 0.1rem 1rem 0.5rem black;
    position: fixed;
    top: 0rem;
    z-index: 10;
    right: -50rem;
    transition: right 0.3s ease;
    transition-duration: 1s;
  }
  /* #inactive{
    right: -200rem;
  } */
  .active{
    right :0;
  }
  .sidebtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .sidebtn button{
    width: 50%;
    background-color: inherit;
    border: none;
    margin: 1rem;
  }
 .sidebtn button:hover{
    transform: scale(1.2);
    color: rgb(255, 220, 25);;
 }